/* Cart Page CSS */

.cart-page .page-heading {
  @apply mb-0;
  font-size: var(--fs-24);
  font-weight: var(--fw-600);
  color: var(--dark-100);
  line-height: 1.1;
}

/* Products List Card */
.cart-page .cart-products-card {
  @apply mb-5 lg:mb-5 xl:mb-0;
  background: var(--white);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: auto;
}
.cart-page .cart-products-card .cart-products-table {
  @apply w-full;
}
.cart-products-table thead {
  border-bottom: 1px solid var(--light-400);
}
.cart-products-table thead tr th:first-child {
  padding-left: 64px;
}
.cart-products-table thead tr th:last-child,
.cart-products-table tbody tr td:last-child {
  @apply text-center;
  font-weight: var(--fw-600);
}
.cart-products-table thead tr th {
  @apply whitespace-nowrap py-5 px-5 text-left;
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.cart-products-table tbody tr {
  border-bottom: 1px solid var(--light-400);
}
.cart-products-table tbody tr td {
  @apply whitespace-nowrap py-3 px-5;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--dark-100);
}
.cart-products-table tbody tr td .btn-delete {
  @apply p-0;
  color: var(--dark-100);
}
.cart-products-table tbody tr td .product {
  @apply flex items-center gap-x-3;
}
.cart-products-table tbody tr td .product .pic {
  @apply aspect-square w-11 rounded-full object-cover outline outline-2 outline-neutral-900;
}
.cart-products-table tbody tr td .product .name {
  @apply m-0;
}
.cart-page .cart-products-card .promo-label {
  @apply mr-2;
  font-size: var(--fs-12);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.cart-page .cart-products-card .promo-field {
  @apply p-2;
  min-height: 40px;
  min-width: 236px;
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  color: var(--dark-300);
  border-radius: 10px;
  border: 1px solid var(--light-400);
}
.cart-page .cart-products-card .promo-field input {
  padding: initial;
}
.cart-page .cart-products-card .btn-add-more {
  @apply flex items-center border-none;
  font-size: var(--fs-12);
  font-weight: var(--fw-600);
  color: var(--dark-100);
  text-transform: capitalize;
}

/* Checkout Card */
.cart-page .cart-checkout-card {
  @apply p-5;
  background: var(--white);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: auto;
}
.cart-checkout-card .select-date-time:first-of-type {
  border-right: 1px solid var(--light-600);
}
.cart-checkout-card .select-date-time .label {
  @apply mb-0 leading-none;
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.cart-checkout-card .select-date-time > button {
  @apply mb-3 flex items-center gap-x-2;
  font-size: var(--fs-14) !important;
  font-weight: var(--fw-600) !important;
  color: var(--dark-100) !important;
  text-transform: capitalize;
}
.cart-checkout-card .select-date-time .selected-value {
  @apply leading-tight;
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  color: var(--dark-300);
}
.cart-checkout-card .address-card {
  @apply flex items-center justify-between py-3.5;
  border-top: 1px solid var(--light-600);
}
.cart-checkout-card .address-card:nth-child(3) {
  border-bottom: 1px solid var(--light-600);
}
.cart-checkout-card .address-card .key {
  @apply flex items-center;
}
.cart-checkout-card .address-card .key .text {
  @apply leading-tight;
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  color: var(--dark-300);
}
.cart-checkout-card .address-card .value {
  @apply leading-tight;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--dark-100);
}
.cart-checkout-card .total-amount {
  @apply mt-7;
}
.cart-checkout-card .total-amount .heading {
  @apply mb-6 leading-tight;
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.cart-checkout-card .total-amount .key {
  @apply leading-tight;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--dark-100);
}
.cart-checkout-card .total-amount .value {
  @apply leading-tight;
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  color: var(--dark-100);
}
.cart-checkout-card .grand-total {
  @apply mb-6 mt-4 flex items-center justify-between;
}
.cart-checkout-card .grand-total .key {
  @apply leading-tight;
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.cart-checkout-card .grand-total .value {
  @apply leading-tight;
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  color: var(--dark-100);
}
.cart-checkout-card .btn-checkout {
  @apply w-full;
  min-height: 40px;
  font-family: var(--ff-open-sans);
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  color: var(--white);
  text-transform: capitalize;
  background-color: var(--dark-200);
  border-radius: 10px;
}
.cart-checkout-card .btn-checkout:hover {
  color: var(--white);
  background-color: var(--dark-200);
}

/* Order Success Modal */
.modal-order-success .MuiModal-backdrop {
  backdrop-filter: blur(25px) !important;
}
.modal-order-success .MuiDialog-paper {
  @apply m-4;
  width: 100%;
  max-width: 360px;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.modal-order-success .modal-content {
  @apply px-5 pt-10 pb-5 text-center;
}
.modal-order-success .modal-content .icon {
  @apply mb-5 h-14 w-14;
}
.modal-order-success .modal-content .heading {
  @apply mb-3 leading-none;
  font-size: var(--fs-30);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.modal-order-success .modal-content .desc {
  @apply mb-0 px-2 sm:px-4;
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.modal-order-success .modal-footer {
  @apply gap-x-5 p-5;
}
.modal-order-success .modal-footer .btn-close {
  @apply m-0 w-full capitalize;
  min-height: 40px;
  background-color: var(--dark-200);
  border: 1px solid var(--dark-200);
  font-family: var(--ff-open-sans);
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  color: var(--white);
  border-radius: 10px;
}
/* Order Success Modal */

/* End Cart Page CSS */

@media only screen and (max-width: 1535.98px) and (min-width: 1280px) {
}

@media only screen and (max-width: 639.98px) {
}
