/* Delivery Address Page CSS */

.delivery-address-page .main-heading {
  @apply mb-5;
  font-size: var(--fs-24);
  font-weight: var(--fw-600);
  color: var(--dark-100);
  line-height: 1.1;
}

/* Saved Addresses Card */
.delivery-address-page .saved-addresses {
  @apply px-5 pt-6 pb-5;
  background: var(--white);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: auto;
}
.delivery-address-page .saved-addresses .heading {
  @apply mb-5;
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
  color: var(--dark-100);
  line-height: 1.1;
}
.delivery-address-page .saved-addresses .addresses-list {
  @apply flex flex-col gap-y-2.5;
}
.addresses-list .item {
  @apply flex w-full cursor-pointer items-center p-5;
  border: 1px solid var(--light-600);
  border-radius: 10px;
}
.addresses-list .item.active {
  border: 1px solid var(--dark-200);
}
.addresses-list .item .icon {
  @apply mr-5 h-5 w-5;
}
.addresses-list .item .checked {
  @apply hidden;
}
.addresses-list .item.active .checked {
  @apply block;
}
.addresses-list .item.active .unchecked {
  @apply hidden;
}
.addresses-list .item .address {
  @apply flex-grow;
}
.addresses-list .item .address .location {
  @apply mb-1.5;
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  color: var(--dark-300);
  line-height: 1.1;
}
.addresses-list .item .address .detailed {
  @apply mb-0;
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  color: var(--dark-100);
  line-height: 1.1;
}
.addresses-list .item .btn-del {
  color: var(--dark-200);
}

/* Delete Address Modal */
.modal-delete-address .MuiModal-backdrop {
  backdrop-filter: blur(25px) !important;
}
.modal-delete-address .MuiDialog-paper {
  @apply m-4;
  width: 100%;
  max-width: 420px;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.modal-delete-address .modal-content {
  @apply px-5 pt-11 pb-5 text-center;
}
.modal-delete-address .modal-content .icon {
  @apply mb-2 h-14 w-14;
}
.modal-delete-address .modal-content .heading {
  @apply mb-3 leading-none;
  font-size: var(--fs-30);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.modal-delete-address .modal-content .desc {
  @apply mb-0 px-10 sm:px-24;
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  color: var(--dark-100);
}
.modal-delete-address .modal-footer {
  @apply gap-x-5 p-5;
}
.modal-delete-address .modal-footer .btn-yes {
  @apply m-0 w-full capitalize;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid var(--dark-200);
  font-family: var(--ff-open-sans);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  color: var(--dark-200);
  border-radius: 10px;
}
.modal-delete-address .modal-footer .btn-no {
  @apply m-0 w-full capitalize;
  min-height: 50px;
  background-color: var(--dark-200);
  border: 1px solid var(--dark-200);
  font-family: var(--ff-open-sans);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  color: var(--white);
  border-radius: 10px;
}
/* Cancel Order Modal */

/* Saved Addresses Card */

/* Select Address Card */
.delivery-address-page .cart-checkout-card {
  @apply p-5;
  background: var(--white);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: auto;
}
.select-location {
  @apply overflow-hidden;
  border-radius: 10px;
}
.select-location .body {
  @apply relative z-10 overflow-hidden p-5;
  background: var(--white);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-top: -10px;
}
.select-location .title {
  @apply mb-4;
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  color: var(--dark-200);
  line-height: 1.1;
}
.select-location .location-address {
  @apply relative mb-5 w-full;
}
.select-location .location-address .btn-current-location {
  @apply absolute right-0 top-4 p-1.5;
}
.select-location .location-address .btn-current-location svg {
  font-size: var(--fs-16);
  color: var(--dark-200);
}
.select-location .location-label {
  @apply mb-2.5;
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
  color: #9d9d9d;
  line-height: 1.1;
}
.select-location .all-locations .item {
  @apply relative overflow-hidden;
  border-radius: 10px;
}
.all-locations .item input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.all-locations .item .content {
  @apply flex h-full w-full items-center gap-x-2.5 px-2.5 py-2;
  background-color: #ededed;
  transition: 0.3s ease;
}
.all-locations .item .content .icon {
  @apply flex h-6 w-6 items-center justify-center overflow-hidden;
  background-color: #d8d8d8;
  border-radius: 24px;
  transition: 0.3s ease;
}
.all-locations .item .content .icon svg {
  @apply w-4;
  color: var(--dark-200);
}
.all-locations .item .content .text {
  @apply mb-0;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--dark-200);
  line-height: 1.1;
}
.all-locations .item input:checked + .content {
  background-color: var(--dark-200);
}
.all-locations .item input:checked + .content .icon {
  background-color: #343434;
}
.all-locations .item input:checked + .content .icon svg {
  color: var(--white);
}
.all-locations .item input:checked + .content .text {
  color: var(--white);
}

.select-location .btn-add-address {
  @apply mt-7 w-full;
  min-height: 40px;
  padding: 6px 30px;
  font-family: var(--ff-kumbh-sans);
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
  color: var(--white);
  text-transform: capitalize;
  background-color: var(--dark-200);
  border-radius: 10px;
}
.select-location .btn-add-address:hover {
  background-color: var(--dark-200);
}
/* Select Address Card */

/* Delivery Address Page CSS */

@media only screen and (max-width: 1535.98px) and (min-width: 1280px) {
}

@media only screen and (max-width: 639.98px) {
}
