@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/css/topbar.css';
@import './assets/css/sidebar.css';

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  /* Colors */
  --light-100: #f0f0f0;
  --light-200: #f8f8f8;
  --light-300: #e1e1e1;
  --light-400: #e2e2e2;
  --light-500: #ececec;
  --light-600: #c9c9c9;
  --light-700: #c4c4c4;

  --dark: #000000;
  --dark-100: #1a1a1a;
  --dark-200: #1d1d1d;
  --dark-300: #6a6a6a;
  --dark-400: #555555;
}

body {
  @apply !font-open-sans;
}
.main {
  @apply bg-background min-h-screen w-full pl-[300px] pt-[86px] transition-all delay-[0ms] duration-[225ms] ease-in-out;
}

/* width */
::-webkit-scrollbar {
  @apply w-2.5 pl-2.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-[#f1f1f1] pl-[50px];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#c4c4c4];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#b5b5b5];
}
.no-map-location {
  @apply flex h-full items-center justify-center;

  /* min-height: calc(100vh - 100px); */
}
.no-map-location .content {
  @apply flex flex-col items-center;
}
.no-map-location .content .icon {
  @apply w-[110px];
}
.no-map-location .content .text {
  @apply mb-0 text-xl font-normal text-[rgb(0_0_0_/_30%)];
}
@media only screen and (max-width: 1023.98px) {
  .main {
    @apply pl-0 pt-20 transition-all delay-[0ms] duration-[225ms] ease-in-out;
  }
  .sidebar-backdrop {
    @apply fixed inset-0 z-[-1] bg-[rgba(0,0,0,0.5)] opacity-0 transition-opacity delay-[0ms] duration-[225ms] ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }
  body.sidebar-opened .sidebar-backdrop {
    @apply z-[9] opacity-100;
  }
}
@media only screen and (max-width: 767.98px) {
  .main {
    @apply pt-20;
  }
}
