@import './App.css';

:root {
  --color-faded: #6a6a6a;
  --color-primary: #1d1d1d;
  --color-secondary: #1a1a1a;
  --color-background: #f0f0f0;
  --color-foreground: #fff;
  --color-secondary2: #003e80;
}

.boxShadow {
  box-shadow: none !important;
  position: static !important;
}

.css-1m4ljmh-MuiTypography-root {
  flex-grow: 1 !important;
}
.css-q0jhri-MuiInputBase-root-MuiInput-root:after,
.css-q0jhri-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
  left: 0;
  bottom: 0;
  content: '';
}
.css-q0jhri-MuiInputBase-root-MuiInput-root.otp-v input {
  text-align: center;
  border: 1px solid #949eae;
  border-radius: 10px;
  background-color: #fff;
}

.form-group .input-with-icon {
  border: 1px solid #949eae;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 10px;
}

.css-18lrjg1-MuiCircularProgress-root {
  animation: animation-61bdi0 0.4s linear infinite !important;
}
