@import './App.css';

:root {
  --color-faded: #6a6a6a;
  --color-primary: #1d1d1d;
  --color-secondary: #1a1a1a;
  --color-background: #f0f0f0;
  --color-foreground: #fff;
  --color-secondary2: #003e80;
}

.boxShadow {
  box-shadow: none !important;
  position: static !important;
}

.css-1m4ljmh-MuiTypography-root {
  flex-grow: 1 !important;
}

.css-q0jhri-MuiInputBase-root-MuiInput-root:after,
.css-q0jhri-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
  left: 0;
  bottom: 0;
  content: '';
}

.css-q0jhri-MuiInputBase-root-MuiInput-root.otp-v input {
  text-align: center;
  border: 1px solid #949eae;
  border-radius: 10px;
  background-color: #fff;
}

.form-group .input-with-icon {
  border: 1px solid #949eae;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 10px;
}

.css-18lrjg1-MuiCircularProgress-root {
  animation: animation-61bdi0 0.4s linear infinite !important;
}

.error-color {
  color: red;
}

.btn-black-outline {
  border-color: var(--theme-primary) !important;
  color: var(--theme-primary) !important;
  opacity: 1 !important;
}

.btn-black-outline {
  /* width: 15% !important; */
  border-radius: 0.5rem !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--theme-secondary) !important;
  background-color: transparent !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  color: var(--theme-secondary) !important;
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.btn-black-fill,
.btn-gray-fill {
  border-color: var(--color-primary) !important;
  background-color: var(--color-primary) !important;
  color: var(--color-foreground) !important;
}

.btn-black-fill {
  border-radius: 0.5rem !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--color-secondary) !important;
  --tw-bg-opacity: 1 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  --tw-text-opacity: 1 !important;
  /* color: rgb(255 255 255 / 1) !important; */
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.btn-style {
  border-radius: 0.5rem !important;
  border-width: 1px !important;
  border-style: solid !important;
  --tw-bg-opacity: 1 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  --tw-text-opacity: 1 !important;
  /* color: rgb(255 255 255 / 1) !important; */
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

/* SWIPER STYLES */

/* swiper css */
.swiper {
  height: 100% !important;
}

.swiper-slide {
  /* width: 15% !important; */
}

/* .custom-swiper-slider .swiper-slide {
  width: 15% !important;
} */

.swiper-wrapper {
  padding-left: 150px;
}

.custom-swiper {
  padding-left: 0px !important;
}

.custom-swiper-slide {
  width: 100% !important;
}

.custom-swiper .swiper-wrapper {
  padding-left: 0 !important;
}

.swiper-button-next {
  left: 4% !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px !important;
  /* Adjust the width */

  /* height: 20px !important; */
  /* margin-top: .1px; */
  /* Adjust the height */
}

:root {
  --swiper-navigation-size: 13px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-primary;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  /* Adjust the arrow icon size */
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  @apply bg-background;
}

/* Swiper pagination  */

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 30px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 4px)
  ) !important;
  border-radius: var(
    --swiper-pagination-bullet-border-radius,
    100px
  ) !important;
}

.swiper-pagination-bullet-active {
  background: #000000 !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 50px)
  ) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px) !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  transform: translateY(15px);
}

.form-group .MuiInputBase-root {
  @apply rounded-lg border border-solid border-foreground bg-[#fff] !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7px 8px !important;
}

/* CategoriesCard.css */

/* Ensure the swiper container is positioned relatively */
.categories-swiper-container {
  position: relative;
  width: 100%;
  padding-bottom: 60px; /* Extra space for arrows below */
}

/* Position and style the navigation arrows */
.swiper-navigation-container {
  display: flex;
  justify-content: flex-start; /* Center align the buttons */
  align-items: center;
  position: absolute;
  bottom: -10px; /* Position arrows below the cards */
  /* right: 400px; */
  width: 100%;
  gap: 10px; /* Space between the buttons */
}

/* Swiper navigation arrows styling */
.custom-swiper-button-next,
.custom-swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.8); /* Light background for arrows */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* Adjust arrow size */
  @apply text-primary;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
  user-select: none;
  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(.swiper-button-disabled) {
    background-color: rgba(0, 0, 0, 0.1); /* Hover effect */
  }
}

/* Optional: Adjust arrow position and size based on screen size */
@media (max-width: 1024px) {
  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .swiper-navigation-container {
    bottom: -20px;
  }
}

@media (min-width: 430px) {
  .swiper-navigation-container {
    bottom: -5px;
  }
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  margin-top: 10px !important;
}
